<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<!--
      Used for /upload/upload.aspx
      default for IIS7 is 4096kb (4mb), default for SlickCMS is 10240kb (10mb)
    -->
		<httpRuntime maxRequestLength="10240"/>
		<!-- 
      Set compilation debug="true" to insert debugging 
      symbols into the compiled page. Because this 
      affects performance, set this value to true only 
      during development.
    -->
		<compilation debug="true" targetFramework="4.0"></compilation>
		<!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
		<authentication mode="Windows"/>
		<!--
      The <customErrors> section enables configuration 
      of what to do if/when an unhandled error occurs 
      during the execution of a request. Specifically, 
      it enables developers to configure html error pages 
      to be displayed in place of a error stack trace.

      <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
        <error statusCode="403" redirect="NoAccess.htm" />
        <error statusCode="404" redirect="FileNotFound.htm" />
      </customErrors>
    -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="SlickCMSRewriteURL" enabled="true" stopProcessing="true">
					<match url=".*"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
					<action type="Rewrite" url="default.asp"/>
				</rule>
			</rules>
		</rewrite>
		<httpErrors>
			<error statusCode="500" subStatusCode="100" path="/errorhandler.asp" responseMode="ExecuteURL"/>
		</httpErrors>
	</system.webServer>
</configuration>
